In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import kendalltau
from tqdm import tqdm
import datetime
from dateutil.parser import parse
import random

In [4]:
train=pd.read_csv(r"C:\Users\mercurial\Downloads\f_train_20180204.csv",encoding="gbk")
testa=pd.read_csv(r"C:\Users\mercurial\Downloads\f_test_a_20180204.csv",encoding="gbk")
sample=pd.read_csv(r"C:\Users\mercurial\Downloads\f_sample_20180204.csv",encoding="gbk")
answer=pd.read_csv(r"C:\Users\mercurial\Downloads\f_answer_a_20180306.csv",encoding="gbk",header=None)
testb=pd.read_csv(r"C:\Users\mercurial\Downloads\f_test_b_20180305.csv",encoding="gbk")

In [5]:
testb

,id,SNP1,SNP2,SNP3,SNP4,SNP5,SNP6,SNP7,SNP8,SNP9,...,SNP47,SNP48,SNP49,SNP50,SNP51,SNP52,SNP53,SNP54,SNP55,ACEID
0,1201,1,2,3.0,2.0,2.0,1.0,3.0,2.0,1.0,...,1.0,3.0,NaN,NaN,2.0,2,1.0,2.0,2.0,3.0
1,1202,3,2,2.0,1.0,NaN,1.0,2.0,3.0,2.0,...,NaN,2.0,2.0,2.0,2.0,1,1.0,2.0,2.0,2.0
2,1203,2,1,3.0,2.0,3.0,1.0,3.0,2.0,1.0,...,NaN,2.0,NaN,1.0,NaN,2,NaN,2.0,2.0,2.0
3,1204,2,1,3.0,2.0,2.0,1.0,2.0,3.0,2.0,...,2.0,1.0,2.0,1.0,3.0,1,NaN,3.0,3.0,2.0
4,1205,2,2,NaN,1.0,2.0,1.0,3.0,NaN,NaN,...,3.0,3.0,1.0,1.0,1.0,1,1.0,3.0,3.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,1396,2,3,3.0,1.0,2.0,3.0,2.0,2.0,1.0,...,NaN,1.0,3.0,1.0,1.0,2,1.0,NaN,NaN,NaN
196,1397,1,3,2.0,2.0,2.0,1.0,2.0,3.0,2.0,...,NaN,2.0,1.0,1.0,2.0,1,1.0,NaN,NaN,NaN
197,1398,3,1,3.0,1.0,2.0,1.0,3.0,1.0,1.0,...,3.0,2.0,2.0,1.0,2.0,3,1.0,NaN,NaN,NaN
198,1399,3,3,3.0,1.0,3.0,1.0,2.0,3.0,2.0,...,2.0,2.0,2.0,1.0,1.0,1,1.0,NaN,NaN,NaN
199,1400,1,1,2.0,1.0,2.0,2.0,2.0,3.0,2.0,...,NaN,3.0,3.0,1.0,3.0,1,1.0,NaN,NaN,NaN

In [6]:
answer

     0
0    1
1    1
2    1
3    1
4    1
..  ..
195  1
196  1
197  0
198  0
199  0

[200 rows x 1 columns]

In [7]:
testa["label"]=answer

In [8]:
testa

,id,SNP1,SNP2,SNP3,SNP4,SNP5,SNP6,SNP7,SNP8,SNP9,...,SNP48,SNP49,SNP50,SNP51,SNP52,SNP53,SNP54,SNP55,ACEID,label
0,1001,2.0,2,3.0,2.0,2.0,1,2,3,2,...,3.0,3.0,2.0,3.0,1,1.0,1.0,1.0,2.0,1
1,1002,2.0,3,3.0,1.0,3.0,1,2,2,1,...,2.0,NaN,1.0,1.0,2,1.0,2.0,2.0,3.0,1
2,1003,3.0,3,2.0,1.0,1.0,1,3,3,2,...,2.0,2.0,1.0,2.0,1,1.0,2.0,2.0,3.0,1
3,1004,2.0,2,3.0,1.0,2.0,2,3,2,1,...,1.0,2.0,1.0,2.0,1,1.0,2.0,2.0,2.0,1
4,1005,2.0,2,3.0,2.0,2.0,1,3,3,2,...,3.0,1.0,1.0,3.0,1,1.0,1.0,1.0,3.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,1196,2.0,2,3.0,1.0,1.0,2,2,1,1,...,2.0,1.0,2.0,1.0,1,1.0,NaN,NaN,NaN,1
196,1197,3.0,2,3.0,1.0,3.0,3,2,3,2,...,1.0,2.0,1.0,2.0,1,1.0,NaN,NaN,NaN,1
197,1198,2.0,2,3.0,1.0,1.0,1,3,2,1,...,3.0,3.0,2.0,2.0,1,1.0,NaN,NaN,NaN,0
198,1199,2.0,3,3.0,1.0,3.0,3,2,1,1,...,2.0,1.0,1.0,1.0,2,1.0,NaN,NaN,NaN,0
199,1200,3.0,2,3.0,1.0,NaN,2,2,3,2,...,2.0,1.0,3.0,1.0,2,1.0,NaN,NaN,NaN,0

In [9]:
train=pd.concat([train,testa])

In [10]:
train

,id,SNP1,SNP2,SNP3,SNP4,SNP5,SNP6,SNP7,SNP8,SNP9,...,SNP48,SNP49,SNP50,SNP51,SNP52,SNP53,SNP54,SNP55,ACEID,label
0,1,2.0,1,NaN,2.0,3.0,1.0,3.0,3.0,2.0,...,2.0,2.0,1.0,2.0,1.0,1.0,3.0,3.0,1.0,1
1,2,3.0,2,3.0,2.0,2.0,2.0,3.0,3.0,2.0,...,1.0,3.0,1.0,1.0,2.0,1.0,2.0,2.0,3.0,0
2,3,1.0,1,3.0,1.0,3.0,2.0,3.0,3.0,2.0,...,3.0,3.0,2.0,2.0,1.0,1.0,1.0,1.0,2.0,1
3,4,1.0,3,3.0,1.0,NaN,1.0,3.0,1.0,1.0,...,1.0,3.0,1.0,2.0,1.0,1.0,2.0,2.0,3.0,1
4,5,1.0,2,3.0,2.0,2.0,1.0,2.0,2.0,1.0,...,3.0,1.0,2.0,2.0,1.0,1.0,2.0,2.0,3.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,1196,2.0,2,3.0,1.0,1.0,2.0,2.0,1.0,1.0,...,2.0,1.0,2.0,1.0,1.0,1.0,NaN,NaN,NaN,1
196,1197,3.0,2,3.0,1.0,3.0,3.0,2.0,3.0,2.0,...,1.0,2.0,1.0,2.0,1.0,1.0,NaN,NaN,NaN,1
197,1198,2.0,2,3.0,1.0,1.0,1.0,3.0,2.0,1.0,...,3.0,3.0,2.0,2.0,1.0,1.0,NaN,NaN,NaN,0
198,1199,2.0,3,3.0,1.0,3.0,3.0,2.0,1.0,1.0,...,2.0,1.0,1.0,1.0,2.0,1.0,NaN,NaN,NaN,0
199,1200,3.0,2,3.0,1.0,NaN,2.0,2.0,3.0,2.0,...,2.0,1.0,3.0,1.0,2.0,1.0,NaN,NaN,NaN,0

In [11]:
float_col=[]
for _ in train.columns:
    if train[_].values.dtype!="O":
        float_col.append(_)

In [12]:
train.shape

(1200, 85)

In [ ]:
float_col

In [ ]:
o_col=[]
for _ in train.columns:
    if train[_].values.dtype=="O":
        o_col.append(_)

In [ ]:
o_col

In [ ]:
def insight(_):
    print(_,"的统计量分析")
    print(train[_].describe())
    null_sum=train[_].isnull().values.sum()
    if null_sum==0:
        print("没有缺失值")
    else:
        print("缺失值数量为:",null_sum,"缺失值比例为:" , null_sum/train.count().max())
    print("相关性：",train[_].corr(train["label"]))
    if len(train[_].unique())<10:
        print("离散变量:",train[_].groupby(train[_]).count())
    else:
        print("连续变量")
    plt.plot(train[_],train["label"],"o")
    plt.title("train")
    plt.show()
    sns.jointplot(train[_], train["label"], kind="hex", stat_func=kendalltau, color="#4CB391")
    plt.show()
    plt.rcParams['font.sans-serif'] = ['SimHei']
    plt.rcParams['axes.unicode_minus'] = False
    plt.figure(1, figsize=(5, 5))#可设定图像大小
    p = train[[_]].boxplot() 
    plt.show()

In [ ]:
for _ in float_col:
    insight(_)

In [ ]:
#train.drop(["SNP21","SNP22","SNP23","RBP4","分娩时","SNP54","SNP55","ACEID"],axis=1,inplace=True)
#testa.drop(["SNP21","SNP22","SNP23","RBP4","分娩时","SNP54","SNP55","ACEID"],axis=1,inplace=True)

In [ ]:
"""
尝试one-hot发现处理后的数据集特征数不一样
def to_str(df):
    for _ in df.drop(["id","label",'RBP4','年龄','孕次','产次','身高','孕前体重','BMI分类','孕前BMI','收缩压','舒张压','分娩时',
                      '糖筛孕周','VAR00007','wbc','ALT','AST','Cr','BUN','CHO','TG','HDLC','LDLC','ApoA1','ApoB','Lpa','hsCRP'
                     ],axis=1).columns:
        df[_]=df[_].apply(lambda x : str(x))
to_str(train)
testa["label"]=1
to_str(testa)
train=pd.get_dummies(train)
testa=pd.get_dummies(testa)
"""

In [ ]:
"""
def fillna(df):
    df.fillna(-999,axis=1,inplace=True)
    fillna(train)
    fillna(testa)
"""

In [ ]:
#暴力特征之加减乘除log指数多项式
def make_feature(df):
    #暴力特征
    col_1=df.drop(["id","label"],axis=1).columns.tolist()
    col_2=df.drop(["id","label"],axis=1).columns.tolist()
    for _ in tqdm(col_1):
        df[_,"2"]=df[_]*df[_]
        col_2.remove(_)
        for __ in col_2:
            #df[_,"+",__]=df[_]+df[__]
            #df[_,"-",__]=df[_]-df[__]
            df[_,"*",__]=df[_]*df[__]
            df[_,"/",__]=df[_]/df[__]
    #提取log指数特征
    #col_list=df.drop(["id","label"],axis=1).columns.tolist()
    #for _ in tqdm(col_list):
    #    df["log",_]=np.log(df[_])
    #    df[_,"2"]=df[_]*df[_]

In [ ]:
make_feature(train)
testb["label"]=1
make_feature(testb)
testb.drop("label",axis=1,inplace=True)

In [ ]:
print(train.shape,testb.shape)

In [ ]:
import xgboost as xgb
import lightgbm as lgb
from catboost import CatBoostClassifier
from sklearn import cross_validation, metrics

In [35]:
lgb_model=lgb.LGBMClassifier(objective="binary",n_estimators=300,learning_rate =0.08,max_depth=3)
lgb_model.fit(train.drop(["id","label"],axis=1), train["label"])
lgb_pred=lgb_model.predict(testb.drop("id",axis=1))

In [36]:
cat_model=CatBoostClassifier(iterations=100, learning_rate=0.1, depth=4, loss_function='Logloss',eval_metric='F1')
cat_model.fit(train.drop(["id","label"],axis=1), train["label"])
cat_pred=cat_model.predict(testb.drop("id",axis=1))

0:	learn: 0.6568627	total: 333ms	remaining: 33s
1:	learn: 0.6587771	total: 536ms	remaining: 26.3s
2:	learn: 0.6558376	total: 715ms	remaining: 23.1s
3:	learn: 0.6613226	total: 901ms	remaining: 21.6s
4:	learn: 0.6772592	total: 1.08s	remaining: 20.6s
5:	learn: 0.6786070	total: 1.27s	remaining: 19.9s
6:	learn: 0.6825871	total: 1.46s	remaining: 19.3s
7:	learn: 0.6861167	total: 1.64s	remaining: 18.9s
8:	learn: 0.6906907	total: 1.82s	remaining: 18.4s
9:	learn: 0.7030785	total: 2.01s	remaining: 18.1s
10:	learn: 0.6926927	total: 2.2s	remaining: 17.8s
11:	learn: 0.7085828	total: 2.38s	remaining: 17.5s
12:	learn: 0.7211155	total: 2.57s	remaining: 17.2s
13:	learn: 0.7353816	total: 2.75s	remaining: 16.9s
14:	learn: 0.7418398	total: 2.94s	remaining: 16.7s
15:	learn: 0.7440476	total: 3.13s	remaining: 16.4s
16:	learn: 0.7477745	total: 3.3s	remaining: 16.1s
17:	learn: 0.7490119	total: 3.48s	remaining: 15.8s
18:	learn: 0.7460630	total: 3.67s	remaining: 15.6s
19:	learn: 0.7570732	total: 3.85s	remaining: 15.4s
20:	learn: 0.7568627	total: 4.04s	remaining: 15.2s
21:	learn: 0.7644184	total: 4.28s	remaining: 15.2s
22:	learn: 0.7636719	total: 4.51s	remaining: 15.1s
23:	learn: 0.7669903	total: 4.69s	remaining: 14.9s
24:	learn: 0.7756286	total: 4.87s	remaining: 14.6s
25:	learn: 0.7787440	total: 5.05s	remaining: 14.4s
26:	learn: 0.7764933	total: 5.22s	remaining: 14.1s
27:	learn: 0.7768116	total: 5.4s	remaining: 13.9s
28:	learn: 0.7814313	total: 5.59s	remaining: 13.7s
29:	learn: 0.7857143	total: 5.77s	remaining: 13.5s
30:	learn: 0.7857829	total: 5.96s	remaining: 13.3s
31:	learn: 0.7900288	total: 6.14s	remaining: 13s
32:	learn: 0.7900288	total: 6.35s	remaining: 12.9s
33:	learn: 0.7919463	total: 6.57s	remaining: 12.8s
34:	learn: 0.8000000	total: 6.75s	remaining: 12.5s
35:	learn: 0.7958015	total: 6.96s	remaining: 12.4s
36:	learn: 0.7992388	total: 7.18s	remaining: 12.2s
37:	learn: 0.8026820	total: 7.4s	remaining: 12.1s
38:	learn: 0.8007700	total: 7.58s	remaining: 11.8s
39:	learn: 0.8034516	total: 7.78s	remaining: 11.7s
40:	learn: 0.8061127	total: 7.96s	remaining: 11.5s
41:	learn: 0.8091603	total: 8.14s	remaining: 11.2s
42:	learn: 0.8061127	total: 8.33s	remaining: 11s
43:	learn: 0.8099331	total: 8.57s	remaining: 10.9s
44:	learn: 0.8122605	total: 8.75s	remaining: 10.7s
45:	learn: 0.8133333	total: 8.93s	remaining: 10.5s
46:	learn: 0.8216319	total: 9.09s	remaining: 10.3s
47:	learn: 0.8208531	total: 9.26s	remaining: 10s
48:	learn: 0.8230842	total: 9.44s	remaining: 9.82s
49:	learn: 0.8245283	total: 9.61s	remaining: 9.61s
50:	learn: 0.8286252	total: 9.78s	remaining: 9.39s
51:	learn: 0.8297272	total: 9.94s	remaining: 9.17s
52:	learn: 0.8278457	total: 10.1s	remaining: 8.96s
53:	learn: 0.8305085	total: 10.3s	remaining: 8.75s
54:	learn: 0.8319249	total: 10.4s	remaining: 8.53s
55:	learn: 0.8336449	total: 10.6s	remaining: 8.32s
56:	learn: 0.8352060	total: 10.8s	remaining: 8.12s
57:	learn: 0.8392523	total: 10.9s	remaining: 7.92s
58:	learn: 0.8420074	total: 11.1s	remaining: 7.72s
59:	learn: 0.8441558	total: 11.3s	remaining: 7.52s
60:	learn: 0.8497217	total: 11.5s	remaining: 7.32s
61:	learn: 0.8505107	total: 11.6s	remaining: 7.12s
62:	learn: 0.8470806	total: 11.8s	remaining: 6.92s
63:	learn: 0.8537037	total: 12s	remaining: 6.73s
64:	learn: 0.8550323	total: 12.1s	remaining: 6.53s
65:	learn: 0.8552995	total: 12.3s	remaining: 6.33s
66:	learn: 0.8608295	total: 12.5s	remaining: 6.13s
67:	learn: 0.8610856	total: 12.6s	remaining: 5.94s
68:	learn: 0.8634686	total: 12.8s	remaining: 5.75s
69:	learn: 0.8634686	total: 13s	remaining: 5.56s
70:	learn: 0.8613407	total: 13.1s	remaining: 5.37s
71:	learn: 0.8642202	total: 13.3s	remaining: 5.18s
72:	learn: 0.8631772	total: 13.5s	remaining: 4.99s
73:	learn: 0.8702852	total: 13.7s	remaining: 4.8s
74:	learn: 0.8741965	total: 13.8s	remaining: 4.62s
75:	learn: 0.8756856	total: 14s	remaining: 4.42s
76:	learn: 0.8756856	total: 14.2s	remaining: 4.23s
77:	learn: 0.8770642	total: 14.3s	remaining: 4.04s
78:	learn: 0.8770642	total: 14.5s	remaining: 3.86s
79:	learn: 0.8788991	total: 14.7s	remaining: 3.67s
80:	learn: 0.8780935	total: 14.8s	remaining: 3.48s
81:	learn: 0.8786765	total: 15s	remaining: 3.3s
82:	learn: 0.8823529	total: 15.2s	remaining: 3.11s
83:	learn: 0.8827839	total: 15.3s	remaining: 2.92s
84:	learn: 0.8840183	total: 15.5s	remaining: 2.74s
85:	learn: 0.8848263	total: 15.7s	remaining: 2.56s
86:	learn: 0.8882784	total: 15.9s	remaining: 2.37s
87:	learn: 0.8882784	total: 16s	remaining: 2.19s
88:	learn: 0.8913444	total: 16.2s	remaining: 2s
89:	learn: 0.8903226	total: 16.4s	remaining: 1.82s
90:	learn: 0.8923643	total: 16.6s	remaining: 1.64s
91:	learn: 0.8909258	total: 16.7s	remaining: 1.46s
92:	learn: 0.8949772	total: 16.9s	remaining: 1.27s
93:	learn: 0.9004566	total: 17.1s	remaining: 1.09s
94:	learn: 0.9016393	total: 17.3s	remaining: 909ms
95:	learn: 0.9012797	total: 17.5s	remaining: 728ms
96:	learn: 0.9022831	total: 17.6s	remaining: 546ms
97:	learn: 0.9029304	total: 17.8s	remaining: 364ms
98:	learn: 0.9029304	total: 18s	remaining: 182ms
99:	learn: 0.9142336	total: 18.2s	remaining: 0us

In [37]:
xgb_model=xgb.XGBClassifier(objective='binary:logistic',learning_rate =0.05,max_depth=5,n_estimators=100)
xgb_model.fit(train.drop(["id","label"],axis=1), train["label"])
xgb_pred=xgb_model.predict(testb.drop("id",axis=1))

In [80]:
xgb_pred

array([0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1,
       1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0], dtype=int64)

In [81]:
lgb_pred

array([0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0], dtype=int64)

In [82]:
cat_pred

array([ 0.,  0.,  0.,  0.,  1.,  0.,  1.,  0.,  0.,  1.,  0.,  0.,  1.,
        0.,  0.,  0.,  0.,  1.,  1.,  0.,  1.,  1.,  0.,  1.,  1.,  0.,
        0.,  1.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  1.,  0.,  1.,
        0.,  0.,  0.,  0.,  0.,  1.,  0.,  1.,  0.,  0.,  0.,  1.,  1.,
        0.,  1.,  0.,  0.,  0.,  1.,  1.,  1.,  0.,  1.,  0.,  0.,  1.,
        1.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,
        1.,  1.,  1.,  0.,  1.,  1.,  0.,  1.,  0.,  0.,  1.,  0.,  0.,
        0.,  0.,  1.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  1.,  1.,  1.,
        0.,  1.,  0.,  1.,  0.,  0.,  1.,  1.,  1.,  1.,  1.,  0.,  0.,
        0.,  1.,  1.,  0.,  1.,  0.,  0.,  0.,  0.,  1.,  1.,  0.,  1.,
        1.,  1.,  1.,  0.,  1.,  0.,  0.,  1.,  0.,  1.,  1.,  1.,  0.,
        1.,  1.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  1.,  1.,  1.,
        0.,  0.,  1.,  0.,  0.,  1.,  1.,  1.,  0.,  0.,  1.,  1.,  1.,
        0.,  1.,  0.,  1.,  0.,  1.,  0.,  0.,  0.,  1.,  0.,  0.,  1.,
        1.,  0.,  1.,  1.,  1.,  1.,  1.,  1.,  0.,  0.,  0.,  0.,  1.,
        0.,  0.,  1.,  1.,  0.])

In [84]:
pred=cat_pred+xgb_pred+lgb_pred

In [85]:
pred

array([ 0.,  2.,  0.,  0.,  3.,  1.,  2.,  0.,  0.,  3.,  0.,  0.,  2.,
        0.,  0.,  0.,  0.,  3.,  3.,  0.,  1.,  3.,  0.,  3.,  3.,  0.,
        0.,  3.,  0.,  0.,  2.,  0.,  0.,  3.,  0.,  0.,  1.,  2.,  3.,
        0.,  0.,  0.,  0.,  0.,  3.,  0.,  3.,  0.,  0.,  1.,  3.,  3.,
        0.,  3.,  0.,  1.,  0.,  3.,  1.,  3.,  0.,  3.,  0.,  1.,  3.,
        3.,  0.,  0.,  1.,  2.,  0.,  0.,  2.,  3.,  0.,  0.,  0.,  0.,
        1.,  3.,  1.,  1.,  3.,  3.,  0.,  1.,  2.,  0.,  3.,  0.,  0.,
        0.,  0.,  3.,  0.,  0.,  3.,  0.,  0.,  0.,  0.,  2.,  3.,  1.,
        0.,  3.,  0.,  1.,  0.,  0.,  3.,  2.,  1.,  3.,  3.,  0.,  0.,
        0.,  3.,  3.,  0.,  3.,  0.,  0.,  0.,  0.,  2.,  3.,  0.,  1.,
        2.,  3.,  3.,  1.,  3.,  0.,  0.,  3.,  0.,  1.,  3.,  3.,  0.,
        2.,  3.,  0.,  0.,  2.,  0.,  0.,  0.,  0.,  0.,  3.,  3.,  3.,
        0.,  0.,  3.,  0.,  0.,  3.,  3.,  2.,  0.,  0.,  2.,  3.,  3.,
        1.,  1.,  0.,  3.,  0.,  1.,  0.,  1.,  0.,  3.,  0.,  0.,  2.,
        3.,  2.,  3.,  3.,  3.,  3.,  2.,  3.,  0.,  0.,  1.,  0.,  2.,
        0.,  0.,  3.,  3.,  0.])

In [86]:
preds=pd.DataFrame(pred)

In [88]:
preds[0][preds[0]<=1]=0
preds[0][preds[0]>1]=1

In [91]:
preds.to_csv("D:/算法大赛/天池糖尿病预测/复赛/pred_final.csv",header=None,index=None)